<IfModule mod_rewrite.c>
  Header add Access-Control-Allow-Origin: "expt.pcibex.net"
  Header add Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"
  Header add Access-Control-Allow-Headers: "X-Requested-With, Content-Type"

  RewriteEngine on
  RewriteBase /
</IfModule>
